@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

.cr-box-img img {
  object-fit: cover;
  object-position: 100% 0%;
  width: 100%;
  height: 748px;
  margin-top: 20px;
}

.cr-img img {
  width: 360px;
  height: 157px;
}

.cr-text p {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
}

@media(max-width:800px) {
  .cr-detail {
    min-width: 460px !important;
  }

  .cr-img img {
    width: 220px;
    height: 100px;
  }
}

.cr-detail {
  margin-top: 96px;
}

.cr-btn {
  width: 380px;
  /* height: 90px; */
}

.cr-btn button img {
  width: 171px;
  /* height: 69px; */
}

.cr-detail-text {
  height: 335px;
}



.cr-container {
  background: #0F0F1D;
}

@media(max-width:768px) {
  .cr-detail-text {
    height: 200px !important;
  }

  .third-section {
    padding: 10px !important;
  }

  .carousel-item {
    background-size: 100% 133% !important;
    background-repeat: no-repeat !important;
    background-position: 26% -2% !important;
    background-image: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(0, 0, 0, 0.8435749299719888) 0%, rgba(1, 9, 10, 0.8183648459383753) 99%), url(./img/ray1.png);
  }
}

@media(max-width:475px) {
  .carousel-item {
    background-size: 100% 100% !important;
    background-repeat: no-repeat !important;
    background-position: 93% 74% !important;
    background-image: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(0, 0, 0, 0.8435749299719888) 0%, rgba(1, 9, 10, 0.8183648459383753) 99%), url(./img/ray1.png);
  }

  .cr-text p {
    font-size: 13px;
    text-wrap: wrap;
    width: 250px !important;
    font-family: "Poppins", sans-serif;
  }

  .cr-detail {
    margin-top: 30px !important;
  }
}

@media(max-width:991px) {
  .first-nav li {
    display: none !important;
  }


  .second-nav {
    display: block !important;
  }

  .carousel-item {
    background-size: 100% 167%;
    background-repeat: no-repeat !important;
    background-position: 54% 3%;
    background-image: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(0, 0, 0, 0.8435749299719888) 0%, rgba(1, 9, 10, 0.8183648459383753) 99%), url(./img/ray1.png);
  }

  .cr-box-img img {
    display: none;
  }

  .cr-detail {
    min-height: 60vh;

  }
}

@media(max-width:768px) {
  .cr-btn button img {
    width: 120px;
    height: 40px;
  }

  .f-p-1 h6 {
    font-size: 12px !important;
  }

  .fourth-images {
    display: none !important;
  }

  .second-nav {
    display: block !important;
  }

  .fourth-head-img2 {
    padding-top: 10px;
  }

  .fourth-img-2 {
    display: none !important;
  }

  .n-f-h2 {
    text-align: center;
    font-size: 12px !important;
  }

  .fourth-box {
    display: none !important;
  }

  .fourth-box-2 {
    display: block !important;
    padding: 5px;
  }

  .cr-btn {
    width: 280px;
    height: 90px;
    margin-left: -11px;
  }
}

/* Navbar */
.second-nav {
  display: none;
}

.first-nav li,
.second-nav li {
  font-size: 20px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.navbar-brand img {
  width: 70px;
}

.navbar {
  background-color: #FBB034;
}

.offcanvas {
  background-color: #FBB034 !important;
  width: 100% !important;
}

/* Third-section Css */
.third-section {
  background: #0F0F1D;
  height: 100%;
  min-width: 100%;
}

@media(max-width:850px) {
  .third-box {
    min-width: 460px !important;
  }

  .third-box img {
    width: 50% !important;
  }

  .third-detail h2 {
    font-size: 29px !important;
    font-family: "Poppins", sans-serif;
  }

  .third-detail p {
    font-size: 17px !important;
    font-family: "Poppins", sans-serif;
  }
}

@media(max-width:475px) {
  .third-box {
    min-width: 260px !important;
  }

  .third-section {
    padding: 10px !important;
  }

  .third-box img {
    width: 50% !important;
  }
}

.third-detail p {
  font-size: 24px;
  font-family: "Poppins", sans-serif;
}

.third-detail h2 {
  font-size: 42px;
  font-family: "Poppins", sans-serif;
  color: #FBB034 !important;
}

/* Fourth-Section */
.fourth-section {
  background: #DFC9F2;
}
.fourth-box-head {
  width: 373px;
  height: 148px;
  margin-top: 50px;
}
.fourth-box {
  margin-bottom: -72px;
}
.fourth-box-head h3 {
  font-family: "Playfair Display", serif;
}
.fourth-images {
  position: relative;
  z-index: 1;
  width: 76%;
  left: 169px;
  top: -238px;
}
@media(max-width:998px) {
  .fourth-images {
    position: relative;
    z-index: 1;
    width: 85%;
    left: 90px;
    top: -238px;
  }
  .fourth-img-2 {
    position: relative;
    z-index: 1;
    left: 62px;
    top: -135px;
    width: 88% !important;
  }
}
.f-img {
  width: 224.89px;
  height: 238.55px;
  padding: 1px 3px !important;
  rotate: 16.96deg;
}
.f-img img {
  width: 199.94px;
  height: 200.94px !important;
  object-fit: cover;
}
.f-img1 {
  width: 261.62px;
  height: 227.64px;
  background-color: white;
  rotate: -3.88deg;
}
.f-img1 img {
  width: 229.79px;
  height: 183.03px;
  object-fit: cover;
}
.f-img3 {
  width: 274.41px;
  height: 189.8px;
  rotate: -19.44deg;
}
.f-img3 img {
  width: 250.68px;
  height: 151.17px;
  object-fit: cover;
}
.f-img4 {
  width: 224.55px;
  height: 247.42px;
  rotate: -16deg;
}
.f-img4 img {
  width: 199.4px;
  height: 200.94px !important;
  object-fit: cover;
}
.f-img5 {
  width: 226.95px;
  height: 244.55px;
  rotate: 19.66deg;
}
.f-img5 img {
  width: 199.94px;
  height: 200.94px;
  object-fit: cover;
}
.fourth-img-2 {
  position: relative;
  z-index: 1;
  left: 40px;
  top: -159px;
  width: 88%;
}
.f-p-1 {
  background-color: white;
  max-width: 110px;
  min-height: 118px;
}
.fourth-box-2 {
  display: none;
}
.n-f-h2 {
  font-family: "Playfair Display", serif;
}
@media(max-width:975px) {
  .fourth-img-2 {
    position: relative;
    z-index: 1;
    top: -124px;
    left: 46px;
    width: 85%;
  }
  .fourth-box-head h3 {
    font-size: 22px;
    font-family: "Playfair Display", serif;
  }
  .fourth-images {
    position: relative;
    z-index: 1;
    width: 80%;
    left: 90px;
    top: -204px;
  }
  .f-img {
    width: 162.89px;
    height: 190.55px;
  }
  .f-img img {
    width: 148.94px;
    height: 151.94px !important;
    object-fit: cover;
  }
  .f-img1 {
    width: 172.37px;
    height: 171.75px;
  }
  .f-img1 img {
    width: 154.79px;
    height: 133.03px;
    object-fit: cover;
  }
  .f-img5 {
    width: 167.61px;
    height: 201.01px;
  }
  .f-img5 img {
    width: 152.94px;
    height: 160.94px;
    object-fit: cover;
  }
  .f-img4 {
    width: 172.61px;
    height: 217.01px;
  }
  .f-img4 img {
    width: 156.4px;
    height: 163.94px !important;
    object-fit: cover;
  }
  .f-img3 {
    width: 182.55px;
    height: 160.42px;
  }
  .f-img3 img {
    width: 169px;
    height: 116px;
    object-fit: cover;
  }
}
@media(max-width:768px) {
  .foot-box {
    margin-top: 5px;
  }

  .foot-icon {
    margin-top: 8px;
  }

  .footer .container {
    min-width: 100% !important;
  }
  .footer a {
    font-family: "DM Sans", sans-serif;
    font-size: 15px !important;
  }

  .footer img {
    width: 56px;
  }
}

@media(max-width:820px) {
  .footer .container {
    min-width: 100% !important;
  }
  .cr-detail{
    min-height: 30vh !important;
  }
  .foot-icon {
    width: 150px;
  }
}

@media(max-width:834px) {
  .footer .container {
    min-width: 100% !important;
  }
  .cr-detail{
    min-height: 30vh !important;
  }
  .fifth-text p{
    font-size: 28px !important;
  }
  .foot-icon {
    width: 150px;
  }

}
@media(max-width:884px) {
  .footer .container {
    min-width: 100% !important;
  }
  .cr-detail{
    min-height: 30vh !important;
  }
  .fifth-text p{
    font-size: 28px !important;
  }
  .foot-icon {
    width: 150px;
  }

}

/* Fifth-Section */
.fifth-bg {
  height: 650px !important;
  width: 100%;
  background-position: auto;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url(./img/smiling-young-male-barber-wearing-uniform-holding-scissors-looking-pointing-front-isolated-orange-wall-with-copy-space\ 1.png);
}
.fifth-detail {
  display: flex;
  align-items: end;
  justify-content: center;
}
.fifth-text {
  height: 500px;
  width: 80%;
  display: flex;
}
.fifth-text p {
  font-size: 40px;
  font-family: "Poppins", sans-serif;
}
.fifth-detail button {
  width: 320px;
  height: 60px;
  font-size: 23px;
  font-family: "Poppins", sans-serif;
  box-shadow: -1px 1px 20px 0px #FFC95E;
}
@media(max-width:768px) {
  .fifth-detail button {
    max-width: 150px;
    height: 37px;
    font-size: 12px;
  }
  .fifth-text {
    max-height: 328px;
    width: 85%;
    display: flex;
  }
  .cr-detail{
    min-height: 40vh !important;
  }
  .fifth-bg {
    max-height: 400px !important;
    width: 100%;
    background-position: auto;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url(./img/smiling-young-male-barber-wearing-uniform-holding-scissors-looking-pointing-front-isolated-orange-wall-with-copy-space\ 1.png);
  }
  .fifth-text p {
    font-size: 20px !important;
    font-family: "Poppins", sans-serif;
  }
  .foot-icon {
    width: 150px;
  }

}
@media(max-width:575px) {
  .fifth-text {
    max-height: 263px;
    width: 90%;
    display: flex;
  }
  .foot-icon {
    width: 150px;
  }

  .cr-detail{
    min-height: 30vh !important;
  }
  .fifth-bg {
    max-height: 323px !important;
    width: 100%;
    background-position: auto;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url(./img/smiling-young-male-barber-wearing-uniform-holding-scissors-looking-pointing-front-isolated-orange-wall-with-copy-space\ 1.png);
  }

  .fifth-text p {
    font-size: 16px !important;
    font-family: "Poppins", sans-serif;
  }
}

@media(max-width:340px) {
  .fifth-text {
    max-height: 202px;
    width: 100%;
    display: flex;
  }

  .foot-icon {
    width: 150px;
  }

  .foot-icon i {
    font-size: 12px !important;
  }

  .footer a {
    font-size: 12px !important;
    font-weight: 500 !important;
  }

  .foot-box {
    margin-top: 15px !important;
  }

  .fifth-bg {
    max-height: 251px !important;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 119% 100%;
    background-image: url(./img/smiling-young-male-barber-wearing-uniform-holding-scissors-looking-pointing-front-isolated-orange-wall-with-copy-space\ 1.png);
  }

  .fifth-text p {
    font-size: 14px !important;
    font-family: "Poppins", sans-serif;
  }
}

.footer a {
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
}